
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }



  .context-menu {
    position: absolute;
    text-align: center;
    background:black;
    border: 1px solid black;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid black;
}

.context-menu ul li a {
    text-decoration: none;
    color: white;
}

#input    {
    position: fixed; 
    display: none;
   left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.8);
    z-index: 999;
}
#popup {
    position:relative; 
    background: rgb(255,255,255);
    border: 5px solid rgb(99, 95, 95);
    left:60px;
    top:60px;
}


#dataFile{
    width: 100%;
    height: 0.7vw;
    object-fit: contain;
    font-size: 1.2vw;
    
}

#fileImage{
    width: 100%;
    height:3vw;
    object-fit:contain;
}

#deleteConfirm{
    position: fixed; 
    display: none;
   left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.8);
    z-index: 999;
}

.breadcrumb li a{
    text-decoration: none;
    color:white ;
    font-size: 15px;

}

div .filepond--drop-label {	
    height: 100vh;
    width:75vw;
    margin-left:5vw;
    margin-top: 10vw;
   /* color: #4c4e53;
    /*width: auto!important; 
    /*height: auto!important; 
    /*width: auto!important;
    /*padding: 0 150px;*/
    /* background-image: url(/FileSystemClient/img/file-upload.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    cursor: pointer;
     */
   
}

.filepond--drop-label div{
    width: 100vw;
    height: 100vh;
    /*margin-left: 35px;*/
}

.filepond--drop-label label{
   /* margin-left:20vw;*/
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: red;
}


.filepond--label-action {
	text-decoration-color: #babdc0;
}


.filepond--image-preview-wrapper{
    margin:0 auto;
    /* position: fixed;  */
}

.filepond--root {
    height: auto!important;
    width: auto!important;
    /*position:absolute;
    /*max-height: 10em;
    /*height: auto;
    padding: 0 150px; */
  } 

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	/*height: 1em;*/
}

.filepond--item-panel {
	background-color: #595e68;
}

/* li .filepond-item{
    width:2.5vw;
    position: absolute;
    left: 50%;
} */

.filepond--item{

   /* width:35vw; */
    /*margin-left:150px;*/
}

.filepond--file-wrapper{
    width:50vh;
    margin-left: 200px;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
} 

.filepond--credits{
    display: none;
} 

.filepond--list{
    width:35vw;
    margin-left: 30vw;
}



.filepond--list-scroller li
{ 
    display:inline-block;
    list-style-type: none;
    margin: 10px 0 0 0;
}

.filepond--list-scroller ul fieldset
{
    padding: 4px;
    border: 1px solid #F2F0F0;
    margin: 2px;
}



@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } 





